/components/
/root/public/components/
*.swp
*.swo
.DS_Store
/node_modules/
/root/node_modules/
/.idea/
*.iml
*.log
*~
/root/package.json
/apps/nameApp/dist/
/apps/nameApp/node_modules/
/apps/nameApp/app/components/
