extends layout

block content
    .header.jumbotron.subhead
        .row
            .span6
                h1 Heading
                if (!user)
                    p.lead Welcome
                else
                    p.lead Hello, #{user.username}

